.home-block{
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    img{
        height: 300px;
    }
}
.home-links{
    width: 100%;
    text-align: center;
}
    button{
        background-color: transparent;
        box-sizing: border-box;
        border: none;
        padding: 5px 10px;
        box-shadow: lightgray 3px 3px 7px;
        margin-right: 20px;
        outline: none;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        &:active{
            transform: translate(1px, 1px);
            box-shadow: lightgray 0 0 5px;
        }
    }